<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="http://www.goodwp.com/images/201103/goodwp.com_16584.jpg">
  </div>
  <h1 align="center">Welcome to the Ski Tracker</h1>
</div>